H1 {
	BORDER-RIGHT: #ffffff 1px outset; BORDER-TOP: #ffffff 1px outset; PADDING-LEFT: 10px; FONT-WEIGHT: bold; FONT-SIZE: 10pt; BACKGROUND: #ffcc66; BORDER-LEFT: #ffffff 1px outset; COLOR: #003399; LINE-HEIGHT: 22px; BORDER-BOTTOM: #ffffff 1px outset; FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif
}
.titlebar {
	BORDER-RIGHT: #ffffff 1px outset; BORDER-TOP: #ffffff 1px outset; PADDING-LEFT: 10px; FONT-WEIGHT: bold; FONT-SIZE: 10pt; BACKGROUND: #ffcc66; BORDER-LEFT: #ffffff 1px outset; COLOR: #003399; LINE-HEIGHT: 22px; BORDER-BOTTOM: #ffffff 1px outset; FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif
}
H2 {
	FONT-SIZE: 13px; COLOR: #000080; FONT-FAMILY: verdana,arial,sans-serif; LETTER-SPACING: 1px
}
H3 {
	FONT-SIZE: 12px; COLOR: #cc9900; FONT-FAMILY: verdana,arial,sans-serif; LETTER-SPACING: 1px
}
H4 {
	FONT-SIZE: 11px; COLOR: #000080; FONT-FAMILY: verdana,arial,sans-serif; LETTER-SPACING: 1px
}
H5 {
	FONT-SIZE: 10px; COLOR: #cc9900; FONT-FAMILY: verdana,arial,sans-serif; LETTER-SPACING: 1px
}
H6 {
	FONT-SIZE: 10px; COLOR: #000080; FONT-FAMILY: verdana,arial,sans-serif; LETTER-SPACING: 1px
}
LI {
	FONT-FAMILY: Arial, Verdana, sans
}
UL LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; LIST-STYLE-POSITION: outside; LIST-STYLE-IMAGE: url(/images/icons/dot.gif); PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #000000; PADDING-TOP: 0px
}
UL UL LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; LIST-STYLE-POSITION: outside; LIST-STYLE-IMAGE: url(/images/icons/dot-1.gif); PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #000000; PADDING-TOP: 0px
}
OL UL LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; LIST-STYLE-POSITION: outside; LIST-STYLE-IMAGE: url(/images/icons/dot.gif); PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #000000; PADDING-TOP: 0px
}
UL OL LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; LIST-STYLE-POSITION: outside; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #000000; PADDING-TOP: 0px
}
UL UL UL LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; LIST-STYLE-POSITION: outside; LIST-STYLE-IMAGE: url(/images/icons/dot-1.gif); PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #000000; PADDING-TOP: 0px
}
OL LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; LIST-STYLE-POSITION: outside; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #000000; PADDING-TOP: 0px; LIST-STYLE-TYPE: decimal
}
OL OL LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; LIST-STYLE-POSITION: outside; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #000000; PADDING-TOP: 0px; LIST-STYLE-TYPE: lower-alpha
}
OL UL {
	COLOR: #005a8c; LIST-STYLE-TYPE: lower-alpha
}
PRE {
	FONT-FAMILY: Monospace, Courier
}
P {
	FONT-FAMILY: Arial, Verdana, sans
}
DIV {
	FONT-FAMILY: Arial, Verdana, sans
}
BLOCKQUOTE {
	FONT-FAMILY: Arial, Verdana, sans
}
BIG {
	FONT-WEIGHT: bold; FONT-SIZE: 120%; FONT-FAMILY: Arial, Verdana, sans
}
EM {
	FONT-WEIGHT: bold; COLOR: #003399; FONT-FAMILY: verdana, arial, sans-serif
}
SMALL {
	FONT-SIZE: 90%; FONT-FAMILY: Arial, Verdana, sans
}
BODY {
	FONT-FAMILY: Arial, Verdana, sans
}
TABLE {
	FONT-FAMILY: Arial, Verdana, sans
}
TD {
	FONT-SIZE: 85%; FONT-FAMILY: Arial, Verdana, sans
}
A {
	COLOR: #0033cc
}
A:visited {
	COLOR: #6666cc
}
A:active {
	COLOR: #4169e1
}
A:hover {
	COLOR: #00cccc; TEXT-DECORATION: underline
}
.info {
	FONT-SIZE: 85%; FONT-FAMILY: verdana,Arial,helvetica
}
.red {
	COLOR: #cc3300
}
.blue {
	COLOR: #0066cc
}
.green {
	COLOR: #006600
}
.error {
	FONT-WEIGHT: bold; FONT-SIZE: 85%; COLOR: #cc3300; FONT-FAMILY: verdana,Arial,helvetica
}
.example {
	FONT-SIZE: 10pt; COLOR: #191970; FONT-FAMILY: courier, monospace
}
.title {
	FONT-WEIGHT: bold; COLOR: #cc9900
}
.titlesmall {
	FONT-WEIGHT: bold; FONT-SIZE: 90%; COLOR: #003399
}
.titleblue {
	FONT-WEIGHT: bold; COLOR: #333399
}
SPAN.titleblue A {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: #006699; TEXT-DECORATION: none
}
SPAN.titleblue A:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: #006699; TEXT-DECORATION: none
}
SPAN.titleblue A:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: #cc0000; TEXT-DECORATION: none
}
.img {
	BORDER-RIGHT: #999999 1px solid; BORDER-TOP: #999999 1px solid; BORDER-LEFT: #999999 1px solid; BORDER-BOTTOM: #999999 1px solid
}
.grey {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: #c0c0c0
}
.titlegrey {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: #555555
}
SPAN.titlegrey A {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: #003399; TEXT-DECORATION: none
}
SPAN.titlegrey A:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: #003399; TEXT-DECORATION: none
}
SPAN.titlegrey A:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: #cc0000; TEXT-DECORATION: none
}
.titlewhite {
	FONT-WEIGHT: bold; COLOR: #ffffff
}
.nav {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: #f0f8ff; FONT-FAMILY: arial,verdana,sans-serif; BACKGROUND-COLOR: #003399
}
A SPAN.nav {
	COLOR: #ffffff; TEXT-DECORATION: none
}
A:visited SPAN.nav {
	COLOR: #f0f8ff; TEXT-DECORATION: none
}
A:hover SPAN.nav {
	COLOR: #003399; BACKGROUND-COLOR: #f0f8ff
}
.white {
	COLOR: #fffffa
}
SPAN.white {
	COLOR: #fffffa
}
SPAN.white A {
	COLOR: #fffffa
}
.boxgrey {
	BORDER-RIGHT: #dcdcdc 1px solid; PADDING-RIGHT: 4px; BORDER-TOP: #dcdcdc 1px solid; PADDING-LEFT: 4px; PADDING-BOTTOM: 4px; BORDER-LEFT: #dcdcdc 1px solid; PADDING-TOP: 4px; BORDER-BOTTOM: #dcdcdc 1px solid; FONT-FAMILY: Arial, Verdana, sans; BACKGROUND-COLOR: #f5f5f5
}
.boxyellow {
	BORDER-RIGHT: #ffe4b5 1px solid; PADDING-RIGHT: 4px; BORDER-TOP: #ffe4b5 1px solid; PADDING-LEFT: 4px; PADDING-BOTTOM: 4px; BORDER-LEFT: #ffe4b5 1px solid; PADDING-TOP: 4px; BORDER-BOTTOM: #ffe4b5 1px solid; FONT-FAMILY: Arial, Verdana, sans; BACKGROUND-COLOR: #fffff0
}
.boxblue {
	BORDER-RIGHT: #87ceeb 1px solid; PADDING-RIGHT: 4px; BORDER-TOP: #87ceeb 1px solid; PADDING-LEFT: 4px; PADDING-BOTTOM: 4px; BORDER-LEFT: #87ceeb 1px solid; PADDING-TOP: 4px; BORDER-BOTTOM: #87ceeb 1px solid; FONT-FAMILY: Arial, Verdana, sans; BACKGROUND-COLOR: #f0f8ff
}
FORM {
	FONT-FAMILY: arial, verdana,sans-serif
}
INPUT {
	FONT-WEIGHT: bold; COLOR: #00008b; FONT-FAMILY: arial, verdana,sans-serif
}
SELECT {
	FONT-WEIGHT: bold; COLOR: #00008b; FONT-FAMILY: arial, verdana,sans-serif
}
SELECT OPTION {
	FONT-WEIGHT: bold; COLOR: #00008b; FONT-FAMILY: arial, verdana, sans-serif
}
TEXTAREA {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: #00008b; FONT-FAMILY: arial, verdana, sans-serif
}
.form {
	FONT-FAMILY: Arial, Verdana, sans
}
.form .text {
	BORDER-RIGHT: #4682b4 1px solid; BORDER-TOP: #4682b4 1px solid; FONT-SIZE: 8pt; BORDER-LEFT: #4682b4 1px solid; COLOR: #00008b; BORDER-BOTTOM: #4682b4 1px solid; FONT-FAMILY: verdana,sans-serif
}
.submit {
	PADDING-RIGHT: 1px; PADDING-LEFT: 1px; FONT-WEIGHT: bold; FONT-SIZE: 8pt; PADDING-BOTTOM: 1px; COLOR: #ffffff; PADDING-TOP: 1px; FONT-FAMILY: verdana,sans-serif; LETTER-SPACING: 1px; BACKGROUND-COLOR: #999999
}
.bluebackground {
	BACKGROUND-COLOR: #003399
}
